$ns: cart;

.#{$ns} {
    background-color: $white;

    &__title-holder {
        padding: 60px 0;
        text-align: center;

        @media only screen and (max-width: 767.98px) {
            padding: 30px 0;
        }
    }

    &__left {
        margin-bottom: 60px;

        @media only screen and (max-width: 767.98px) {
            margin-bottom: 30px;
            overflow-x: auto;
        }
    }

    &__right {
        padding-top: 10px;
        margin-bottom: 40px;

        .order-summary__btn-wrap {
            display: grid;
            text-align: center;
        }

        .order-summary__c-shop-btn {
            color: $primary;
            font-weight: $font500;
            margin-bottom: 30px;
            text-decoration: underline;
        }
    }

    &__shipping-desc {
        display: inline-block;
        margin-bottom: 10px;
        position: relative;

        &__title {
            border-bottom: 3px solid $primary;
            color: $secondary;
            font-size: 14px;
            font-weight: $font500;
        }

        &__text {
            color: $primary;
        }

        &__img {
            margin-left: 5px;
            width: 17px;
        }
    }

    &__wrap {
        &__table {
            margin-bottom: 5px;

            @media only screen and (max-width: 767.98px) {
                width: 100%;
            }

            thead {
                th {
                    border: 0;
                    padding-left: 0;
                }
            }

            tbody {
                td {
                    border: 0;
                    padding-left: 0;
                }
            }

            &__item {
                border-bottom: 2px solid $grey16;

                td {
                    vertical-align: middle;
                }

                th {
                    padding-left: 0;
                }

                &__img {
                    background: $grey16;
                    border-radius: 40px;
                    padding: 3px;
                    width: 17px;
                }

                &__detail {
                    &__img-holder {
                        position: relative;
                    }

                    &__img {
                        width: 80px;
                    }

                    &__counter {
                        background-color: $primary;
                        border-radius: 40px;
                        color: $white;
                        font-size: 12px;
                        padding: 1px 7px;
                        position: absolute;
                        right: 40px;
                        top: -5px;

                        @media only screen and (max-width: 1198.98px) {
                            right: 0;
                        }
                    }

                    &__heading {
                        color: $secondary;
                        font-size: 14px;
                        font-weight: $font500;
                        margin-bottom: 0;
                    }

                    &__promotion {
                        color: $primary;
                        font-size: 14px;
                        font-weight: $font500;
                    }

                    &__sku {
                        color: $secondary;
                        font-size: 12px;
                        font-weight: $font500;
                    }

                    &__change {
                        color: $primary;
                        font-size: 12px;
                        font-weight: $font500;
                    }

                    &__price {
                        color: $secondary;
                        font-size: 14px;
                        font-weight: $font500;
                    }

                    &__total {
                        color: $secondary;
                        font-size: 14px;
                        font-weight: $font700;
                    }

                    .qty-selector input.in-num {
                        background-color: $white;
                        border: 2px solid $secondary;
                        float: left;
                        font-size: 14px;
                        height: 32px;
                        text-align: center;
                        width: 83px;
                    }

                    .qty-selector .num-in span  {
                        background-color: transparent;
                        border: 2px solid $secondary;
                        cursor: pointer;
                        display: block;
                        float: left;
                        font-size: 17px;
                        height: 32px;
                        text-align: center;
                        transition: all 0.3s;
                        width: 46px;

                        @media only screen and (max-width: 767.98px) {
                            width: 22px;
                        }

                        &.minus {
                            border-bottom-left-radius: 7px;
                            border-top-left-radius: 7px;
                        }

                        &.plus {
                            border-bottom-right-radius: 7px;
                            border-top-right-radius: 7px;
                        }
                    }

                    .qty-selector .num-in span:hover {
                        background-color: $grey16;
                    }

                    .qty-selector .num-in input {
                        border-left: 0;
                        border-right: 0;
                        float: left;
                        line-height: 34px;
                        text-align: center;
                        width: 44px;

                        @media only screen and (max-width: 767.98px) {
                            width: 19px;
                        }
                    }
                }
            }
        }
    }

    &__btn-holder {
        display: flex;
            align-items: center;
            justify-content: space-between;

        &__add-more {
            color: $secondary;
            font-size: 14px;
            font-weight: $font500;
            text-decoration: underline;
        }

        &__clear-cart {
            color: $primary;
            font-size: 14px;
            font-weight: $font500;
            text-decoration: underline;

            &:hover {
                color: $primary;
            }
        }
    }

    .order-summary__cart-totals>.row:nth-child(-n+5) {
        align-items: center;
        border-bottom: 2px solid $grey16;
        line-height: 20px;
        margin-bottom: 25px;
        padding: 5px 0;
    }
}
