$ns: checkout;

.#{$ns} {
    background-color: $white;

    &__banner {
        margin-bottom: 45px;
        position: relative;

        @media only screen and (max-width: 767.98px) {
            margin-bottom: 30px;
        }

        &__img {
            width: 100%;
        }

        &__wrap {
            position: absolute;
                left: 50%;
                top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

            &__heading {
                color: $primary;
                font-size: 16px;
                font-weight: $font700;
                letter-spacing: 1px;
                margin-bottom: 10px;
                text-transform: uppercase;

                @media only screen and (max-width: 767.98px) {
                    font-size: 12px;
                    margin-bottom: 0;
                }
            }

            &__heading-main {
                color: $white;
                font-size: 40px;
                font-weight: $font700;
                margin-bottom: 15px;

                @media only screen and (max-width: 767.98px) {
                    font-size: 25px;
                }
            }
        }
    }

    &__progress-tab-wrap {
        &__progress-tab {
            display: flex;
            list-style: none;
            padding: 0;

            &__counter {
                background-color: transparent;
                border-radius: 40px;
                border: 3px solid $primary;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                font-weight: 500;
                height: 30px;
                width: 30px;
            }

            &__list {
                position: relative;
                width: calc(33.33% - 15px);

                @media only screen and (max-width: 767.98px) {
                    width: calc(33.33% - 13px);
                }

                &.active {
                    .checkout__progress-tab-wrap__progress-tab__link {
                        font-weight: $font700;
                    }

                    &::after {
                        background-color: $primary;
                    }

                    .checkout__progress-tab-wrap__progress-tab__counter {
                        background-color: $primary;
                    }
                }

                &:last-child {
                    width: 0;

                    &::after {
                        display: none;
                    }
                }

                &::after {
                    background-color: $grey7;
                    border-radius: 40px;
                    border: none;
                    content: '';
                    display: block;
                    height: 3px;
                    position: absolute;
                    left: 17%;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 75%;

                    @media only screen and (max-width: 1198.98px) {
                        left: 20%;
                    }

                    @media only screen and (max-width: 767.98px) {
                        left: 27%;
                        width: 63%;
                    }

                    @media only screen and (max-width: 575.98px) {
                        left: 36%;
                        width: 55%;
                    }
                }
            }

            &__link {
                display: block;
                position: absolute;
                top: 34px;
                left: 16px;
                transform: translateX(-50%);

                @media only screen and (max-width: 767.98px) {
                    font-size: 12px;
                }
            }
        }
    }

    &__checkbox-holder {
        margin-bottom: 8px;

        @media only screen and (max-width: 991.98px) {
            margin-bottom: 5px;
        }
    }

    &__content {
        padding-bottom: 60px;
    }

    &__left-wrap {
        @media only screen and (max-width: 991.98px) {
            margin-bottom: 30px;
        }

        &__btn-holder {
            text-align: center;
            width: 100%;

            @media only screen and (max-width: 991.98px) {
                margin-bottom: 30px;
                margin-top: 30px;
                padding: 0 15px;
            }

            &__btn {
                font-weight: $font600;
                width: 100%;
            }
        }
    }

    &__left {
        background-color: $grey1;
        border: 1px solid $grey16;
        margin-bottom: 30px;

        @media only screen and (max-width: 991.98px) {
            margin-bottom: 30px;
        }

        &__title {
            font-size: 20px;
            font-weight: $font600;
            margin-bottom: 15px;
        }

        &__label {
            display: flex;
                align-items: center;
            margin-bottom: 10px;
        }

        &__c-comments {
            &__title {
                font-size: 20px;
                font-weight: $font600;
                word-break: break-word;

                @media only screen and (max-width: 767.98px) {
                    font-size: 18px;
                }
            }

            &__text {
                font-size: 16px;
                font-weight: $font600;
                word-break: break-word;

                @media only screen and (max-width: 767.98px) {
                    font-size: 14px;
                }
            }
        }

        &__delivery-ops {
            margin-bottom: 30px;
        }

        &__text-holder {
            border-bottom: 2px solid $grey16;
            display: flex;
                align-items: center;
                justify-content: space-between;
            padding-bottom: 6px;
            width: 100%;

            &__text {
                font-size: 16px;
                font-weight: $font600;
                margin: 0;
                word-break: break-word;
            }

            &__price {
                font-size: 16px;
                font-weight: $font600;
                word-break: break-word;
            }
        }

        &__shipping {
            margin-bottom: 45px;
        }

        &__select-box {
            &__select {
                appearance: none;
                background: $white url(../images/downarrow.png) no-repeat right 15px center/23px;
                border: 1px solid $grey16;
                cursor: pointer;
                display: inline-block;
                font-size: 18px;
                padding: 6px 18px;
                padding-right: 40px;
                position: relative;
                width: 100%;

                &:focus-visible {
                    outline: none;
                }
            }
        }

        &__btn {
            text-align: center;
            width: 100%;
        }

        &__select-box {
            position: relative;

            &.collapsed {
                &::after {
                    top: 6px;
                    transform: rotate(180deg);
                    transition: all .35s;
                }
            }
        }

        &__product-holder {
            border-bottom: 1px solid $grey16;
            display: flex;
                align-items: center;
            padding: 30px 20px;

            &__detail {
                display: flex;
                    align-items: center;
                    justify-content: space-between;
                width: 100%;
            }

            &__image-container {
                margin: 0 20px 0 0;
                position: relative;

                &__image {
                    width: 70px;
                }
            }

            &__counter {
                background-color: $primary;
                border-radius: 40px;
                color: $white;
                font-size: 12px;
                padding: 1px 7px;
                position: absolute;
                    right: -9px;
                    top: -5px;
            }

            &__text-holder {
                &__text {
                    font-size: 16px;
                    font-weight: 600;
                    margin: 0;
                }

                &__disc {
                    color: $grey10;
                    font-size: 16px;
                    margin: 0;
                }
            }

            &__price {
                font-size: 16px;
                font-weight: 600;
                margin: 0;
            }
        }

        &__text-content {
            padding: 30px 20px;
        }

        &__btn-holder {
            margin-bottom: 20px;
            text-align: center;

            &__address-btn {
                border: 2px solid $primary;
                color: $primary;
                font-weight: 600;
                padding: 8px 45px;

                &:hover {
                    color: $primary;
                    text-decoration: none;
                }
            }
        }

        &__form-holder {
            &__title {
                font-size: 18px;
                font-weight: $font600;
                margin-bottom: 14px;
            }

            &__form {
                margin-bottom: 25px;

                &__label {
                    color: $secondary;
                    font-size: 16px;
                    font-weight: $font600;
                }

                &__input {
                    border: 1px solid $grey3;
                    margin-bottom: 10px;
                    padding: 15px;
                    width: 100%;

                    &::placeholder {
                        color: $grey4;
                        font-size: 16px;
                        font-weight: $font500;
                    }

                    &:focus-visible {
                        outline: none;
                    }
                }
            }
        }

        &__form-btn-wrap {
            margin-bottom: 16px;

            &__btn {
                border: 2px solid $primary;
                text-align: center;
                width: 100%;

                @media only screen and (max-width: 767.98px) {
                    font-size: 14px;
                }
            }
        }

        &__shipping {
            &__title {
                font-size: 20px;
                font-weight: $font600;
                margin-bottom: 15px;
            }
        }

        &__billing {
            padding: 30px 20px;

            &__title {
                font-size: 20px;
                font-weight: $font600;
                margin-bottom: 15px;
            }

            .checkout__left__text-holder {
                border: 0;
            }

            &__note-list {
                padding: 0;
                list-style: none;
                margin-bottom: 16px;
            }
            &__note-text {
                color: $secondary;
                font-size: 16px;
                font-weight: 600;
            }

            &__po-text-wrap {
                margin-bottom: 10px;
            }
            &__po-heading {
                color: $secondary;
                font-size: 20px;
                font-weight: $font600;
                margin-bottom: 5px;
            }
            &__po-num {
                font-size: 16px;
                font-weight: $font500;
            }
        }
    }

    &__right {
        background-color: $grey1;
        border: 1px solid $grey16;
        padding: 30px 20px 5px 20px;
    }

    .comment-box label {
        color: $secondary;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 6px;
    }

    label:has(input[type='radio']) {
        cursor: pointer;
        display: grid;
        gap: 0.5em;
        grid-template-columns: 1em auto;
        line-height: 1.1;

        >input[type='radio'] {
            appearance: none;
            background-color: transparent;
            border-radius: 50%;
            border: 2.4px solid $primary;
            color: $primary;
            cursor: pointer;
            display: grid;
            font: inherit;
            height: 18.4px;
            margin: 0;
            place-content: center;
            transform: translateY(-0.075em);
            width: 18.4px;

            &::before {
                background-color:  $primary;
                border-radius: 50%;
                content: "";
                height: 9.28px;
                transform: scale(0);
                transition: 120ms transform ease-in-out;
                width: 9.28px;
            }

            &:checked {
                border-color: $primary;

                &::before {
                    transform: scale(1);
                }
            }
        }
    }
}
