$ns: contact-us;

.#{$ns} {
    background-color: $white;

    &__banner {
        position: relative;

        &__image {
            margin: 0;
        }

        &__img {
            width: 100%;
        }

        &__wrap {
            position: absolute;
                top: 50%;
                left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

            &__heading {
                color: $primary;
                font-size: 16px;
                font-weight: $font600;
                letter-spacing: 1px;
                margin-bottom: 20px;
                position: relative;
                text-transform: uppercase;

                @media only screen and (max-width: 767.98px) {
                    font-size: 12px;
                    margin-bottom: 10px;
                }

                &::after {
                    background-color: $primary;
                    content: '';
                    display: block;
                    height: 2px;
                    margin-bottom: -8px;
                    position: absolute;
                        bottom: 0;
                        left: 0;
                    width: 80px;

                    .text-center & {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            &__heading-main {
                color: $white;
                font-size: 32px;
                font-weight: $font700;

                @media only screen and (max-width: 767.98px) {
                    font-size: 25px;
                }
            }
        }
    }

    &__map-wrap {
        position: relative;
        margin-bottom: 60px;

        @media only screen and (max-width: 767.98px) {
            margin-bottom: 30px;
        }

        &__text-holder {
            position: absolute;
                top: 50%;
                left: 3%;
            transform: translateY(-50%);

            @media only screen and (max-width: 991.98px) {
                left: 15%;
            }
        }
    }

    &__content {
        text-align: left;
        margin-bottom: 60px;

        @media only screen and (max-width: 767.98px) {
            margin-bottom: 30px;
        }

        &__text {
            color: $secondary;
            font-size: 18px;
            font-weight: $font400;

            @media only screen and (max-width: 767.98px) {
                font-size: 14px;
            }

            &__link {
                color: $primary;
                font-size: 18px;
                font-weight: $font400;

            @media only screen and (max-width: 767.98px) {
                font-size: 14px;
            }
            }
        }
    }

    &__left {
        background-color: #ffffffed;
        border: 1px solid #d0d0d0;
        padding: 30px;

        @media only screen and (max-width: 767.98px) {
            padding: 15px;
        }

        &__heading {
            font-size: 22px;
            font-weight: $font500;
            margin-bottom: 40px;
            position: relative;

            @media only screen and (max-width: 767.98px) {
                font-size: 16px;
                margin-bottom: 20px;
            }

            &::after {
                background-color: $primary;
                content: '';
                display: block;
                height: 2px;
                margin-bottom: -15px;
                position: absolute;
                    left: 0;
                    bottom: 0;
                width: 80px;
            }
        }

        &__text {
            color: $secondary;
            font-size: 16px;
            font-weight: $font400;
            margin-bottom: 8px;

            @media only screen and (max-width: 767.98px) {
                font-size: 14px;
            }
        }

        &__text-link {
            color: $primary;
            font-size: 16px;
            font-weight: $font400;
            margin-bottom: 8px;

            @media only screen and (max-width: 767.98px) {
                font-size: 14px;
            }

            &:hover {
                color: $primary;
            }
        }

        &__img {
            width: 100%;
        }
    }

    &__form-wrap {
        margin-bottom: 60px;

        @media only screen and (max-width: 767.98px) {
            margin-bottom: 30px;
        }
    }

    &__text-wrap {
        margin-bottom: 60px;

        @media only screen and (max-width: 767.98px) {
            margin-bottom: 30px;
        }
    }
}
