.container {
    @media only screen and (min-width: 1440px) {
        max-width: 1440px;
    }
}

body {
    background-color: $grey1;
    color: $secondary;
}

a {
    color: $secondary;
    text-decoration: none;
    &:hover {
        color: $secondary;
    }
}

.btn-primary {
    background: $primary;
    border: none;
    color: $secondary;
    display: inline-block;
    font-size: 18px;
    font-weight: $font500;
    padding: 8px 14px;

    &:hover {
        background: $btn-hover;
        color: $secondary;
        text-decoration: none;
    }
}
