.container {
    @media only screen and (min-width: 1440px) {
        max-width: 1440px;
    }
}

body {
    background-color: $grey1;
    color: $secondary;
}

a {
    color: $secondary;
    text-decoration: none;

    &:hover {
        color: $secondary;
    }
}

p {
    margin-bottom: 0;
}

.btn-primary {
    background: $primary;
    border: none;
    color: $secondary;
    display: inline-block;
    font-size: 18px;
    font-weight: $font500;
    padding: 8px 14px;

    &:hover,
    &:focus,
    &:active {
        background: $btn-hover;
        box-shadow: none;
        color: $secondary;
        text-decoration: none;
    }

    &:not(:disabled):not(.disabled):active,
    &.btn-primary:not(:disabled):not(.disabled):active:focus {
        background: $btn-hover;
        color: $secondary;
        text-decoration: none;
        box-shadow: none;
    }
}

//checkbox styling
input[type=checkbox]:checked {
    background-color: $primary;
    opacity: 1;
}

input[type=checkbox] {
    -webkit-appearance: none;
    background: none;
    border-radius: 2px;
    border: 2px solid $primary;
    cursor: pointer;
    height: 20px;
    line-height: 0;
    margin: 0 .6em 0 0;
    opacity: .5;
    outline: 0;
    padding: 0 !important;
    position: relative;
    vertical-align: text-bottom;
    width: 20px;

    @media screen and (max-width: 1199.98px) {
        height: 16px;
        width: 16px;
    }

    @media only screen and (max-width: 768px) {
        height: 18px;
        width: 18px;
    }
}

input[type=checkbox]:hover {
    opacity: 1;
}

input[type=checkbox]:before {
    content: '';
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    height: 12px;
    margin: -1px -1px 0 -1px;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: rotate(45deg) translate(-50%, -50%);
    width: 6px;
    z-index: 2;
}

label {
    cursor: pointer;
    margin-bottom: 0;
}

.heading {
    margin-bottom: 20px;

    &__text {
        font-size: 33px;
        font-weight: $font700;

        @media only screen and (max-width: 767.98px) {
            font-size: 26px;
            font-weight: $font700;
        }
    }
}

//back button styling
.back-btn {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &__image {
        height: 19px;
        margin-right: 10px;
        width: 15px;
    }

    &__link {
        font-weight: $font700;
    }
}

.breadcrumb-wrap {
    background-color: $grey1;

    &__breadcrumb {
        background-color: $grey1;
        padding: 0 0 0 15px;
        margin-bottom: 0;
    }
}

.comment-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.comment-box label {
    color: $white;
    font-size: 16px;
    font-weight: $font500;
}

.comment-box textarea {
    border: 2px solid $primary;
    border-radius: 2px;
}
