.slider {
    margin-bottom: 50px;
    padding-bottom: 30px;

    &-wrap {
        background-color: $white;
    }

    &__intro {
        &__text {
            font-size: 32px;
            font-weight: $font700;
            margin-bottom: 25px;
            padding-top: 25px;
        }
    }

    &__wrap {
        border: 1px solid $border-color;
        Display: flex !important;
            flex-direction: column;
            justify-content: space-between;
        margin-right: 10px;

        &__image-holder {
            height: 0;
            overflow: hidden;
            padding-bottom: 67%;
            position: relative;
            width: 100%;
        }

        &__image {
            height: auto;
            object-fit: fill;
            padding: 15px;
            position: absolute;
                left: 50%;
                top: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
        }

        &__text-holder {
            background-color: $grey1;
            padding: 20px 30px;
            text-align: center;
        }

        &__heading {
            font-size: 18px;
            font-weight: $font700;
            text-transform: uppercase;
        }

        &__heading-main {
            font-size: 16px;
            font-weight: $font500;
        }

        &__btn {
            font-size: 16px;
            font-weight: $font500;
            padding: 8px 25px;
        }

        &__badge {
            background-color: $primary;
            position: absolute;
                left: 20px;
                top: 88%;
        }
    }
    .slick-dots {
        padding-top: 25px;
        position: unset;
    }
}
