$ns: forgot-pass;

.#{$ns} {
    &__banner {
        margin-bottom: 60px;
        position: relative;

        &__image-wrapper {
            margin: 0;
        }

        &__img {
            width: 100%;
        }

        &__wrap {
            position: absolute;
                top: 50%;
                left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

            &__heading-main {
                color: $white;
                font-size: 32px;
                font-weight: $font700;

                @media only screen and (max-width: 767.98px) {
                    font-size: 25px;
                }
            }
        }
    }

    &__error-msg {
        background-color: $error-msg-color;
        margin-bottom: 20px;
        position: relative;
        padding: 8px;

        &__text {
            color: $error-color;
            font-size: 16px;
            font-weight: $font500;
        }

        &__close-btn {
            color: $error-color;
            font-size: 22px;
            font-weight: 700;
            position: absolute;
                top: 0;
                right: 8px;
        }
    }

    &__content {
        margin-bottom: 60px;

        &__header {
            margin-bottom: 20px;
        }

        &__heading {
            color: $secondary;
            font-size: 32px;
            font-weight: $font700;

            @media only screen and (max-width: 767.98px) {
                font-size: 24px;
            }
        }

        &__descrip {
            font-size: 16px;
            font-weight: $font600;
        }
    }

    &__body {
        margin-bottom: 20px;
        text-align: left;

        &__label {
            color: $secondary;
            font-size: 16px;
            font-weight: $font600;
            margin-bottom: 20px;
        }

        &__input {
            border-radius: 6px;
            border: 1px solid $grey3;
            margin-bottom: 10px;
            padding: 15px;
            width: 100%;

            &::placeholder {
                color: $grey4;
                font-size: 16px;
                font-weight: $font500;
            }

            &:focus-visible {
                outline: none;
            }
        }
    }

    &__footer {
        background-color: $grey1;
        display: flex;
            align-items: center;
            justify-content: space-between;

        &__cancel {
            font-size: 16px;
            font-weight: $font700;
            text-decoration: underline;
        }

        &__subscribe {
            font-size: 16px;
            font-weight: $font700;
        }
    }
}
