$ns: password-email;

.#{$ns} {
    background-color: $white;

    &__banner {
        margin-bottom: 60px;
        position: relative;

        &__image-wrapper {
            margin: 0;
        }

        &__img {
            width: 100%;
        }

        &__wrap {
            position: absolute;
                top: 50%;
                left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

            &__heading-main {
                color: $white;
                font-size: 32px;
                font-weight: $font700;

                @media only screen and (max-width: 767.98px) {
                    font-size: 25px;
                }
            }
        }
    }

    &__content {
        background-color: $grey1;
        border: 1px solid $grey16;
        margin-bottom: 60px;
        padding: 35px 45px 45px;
        text-align: center;

        &__title {
            color: $secondary;
            font-size: 28px;
            font-weight: $font500;
            margin-bottom: 16px;

            @media only screen and (max-width: 767.98px) {
                font-size: 22px;
            }
        }

        &__descrip {
            margin-bottom: 25px;
        }
    }
}
