$ns: msds-search;

.#{$ns} {
    background-color: $white;
    padding-bottom: 60px;

    &__banner {
        margin-bottom: 40px;
        position: relative;

        @media only screen and (max-width: 767.98px) {
            margin-bottom: 20px;
        }

        &__img {
            width: 100%;

            @media only screen and (max-width: 767.98px) {
                height: 150px;
            }
        }

        &__text-holder {
            background-color: $banner-text-bg-color;
            padding: 45px;
            position: absolute;
                top: 50%;
                left: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
            width: 65%;

            @media only screen and (max-width: 1199.98px) {
                padding: 20px;
            }

            @media only screen and (max-width: 767.98px) {
                padding: 10px;
            }
        }

        &__text {
            color: $white;
            font-size: 38px;
            margin: 20px 0;
            text-align: center;

            @media only screen and (max-width: 991.98px) {
                font-size: 18px;
            }

            @media only screen and (max-width: 767.98px) {
                font-size: 12px;
                margin: 10px 0;
            }
        }

        &__title {
            border-bottom: 2px solid $primary;
            color: $primary;
            display: inline;
            font-size: 14px;
            font-weight: $font700;
            letter-spacing: 2px;
            padding: 0 10px 4px 10px;
            text-transform: uppercase;

            @media only screen and (max-width: 991.98px) {
                font-size: 12px;
                margin-bottom: 0;
            }

            @media only screen and (max-width: 767.98px) {
                font-size: 8px;
                padding: 0 5px 2px 5px;
            }
        }

        &__wrap {
            display: flex;

            &__search-field {
                background: $search-bg-color url(../images/search-grey.png) no-repeat left 13px center/18px;
                border: 2px solid $grey3;
                color: $grey3;
                font-size: 18px;
                height: 100%;
                padding: 9px 10px 10px 40px;
                width: 100%;

                @media only screen and (max-width: 767.98px) {
                    background-position: left 6px center;
                    background-size: 14px;
                    font-size: 10px;
                    padding: 2px 2px 2px 26px;
                }

                &::placeholder {
                    color: $grey3;
                    font-size: 18px;

                    @media only screen and (max-width: 767.98px) {
                        font-size: 10px;
                    }
                }
            }

            &__form {
                margin: 0;
                width: 100%;
            }
        }

        &__search-btn {
            background-color: $primary;
            padding: 11px;

            @media only screen and (max-width: 767.98px) {
                padding: 3px;
            }

            &__img {
                width: 21px;

                @media only screen and (max-width: 767.98px) {
                    width: 15px;
                }
            }
        }
    }

    &__card-body {
        &__table {
            &__item {
                &__heading {
                    color: $secondary;
                    font-size: 14px;
                    font-weight: $font700;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }

                &__list-price {
                    text-align: center;
                }

                th {
                    padding: 15px;
                    vertical-align: text-top;
                }

                td {
                    vertical-align: middle;
                    padding: 15px;
                    width: 33.33%;
                }
            }

            &__detail {
                color: $secondary;
                font-size: 14px;
                font-weight: $font500;
                padding: 14px;
                vertical-align: middle;

                @media only screen and (max-width: 767.98px) {
                    font-size: 12px;
                }
            }

            &__product-name,
            &__order-no {
                background: transparent;
                border: none;
                color: $secondary;
                font-size: 14px;
                font-weight: $font500;
                padding: 0;

                @media only screen and (max-width: 767.98px) {
                    font-size: 12px;
                }
            }

            thead th {
                border: none;
                vertical-align: text-top;
            }
        }
    }

    .bottom {
        justify-content: space-between;
        margin-bottom: 0;
        padding: 0;
        width: 100%;

        &__left {
            display: flex;
                align-items: baseline;
        }

        &__dropdown {
            &__btn {
                background-color: transparent;
                border: none;
                color: $black;
                font-size: 14px;
                font-weight: 700;
                margin-right: 15px;

                &:hover,
                &:focus {
                    background-color: transparent;
                    border: none;
                    color: $black;
                }
            }
        }

        &__descrip {
            color: $grey8;
            font-size: 14px;
            font-weight: $font500;
        }

        &__right {
            &__num {
                display: flex;
                list-style: none;
                padding: 0;
            }

            &__list {
                font-weight: $font700;
                margin-right: 20px;
            }

            &__link {
                font-size: 14px;
                font-weight: $font700;
            }
        }
    }
}
