$ns: order-summary;

.#{$ns} {
    &__title {
        font-size: 20px;
        font-weight: $font600;
        margin-bottom: 15px;
    }

    &__product-wrap {
        background-color: $white;
        border: 1px solid $grey16;
        display: flex;
            align-items: center;
        margin-bottom: 20px;
        padding: 15px;

        &__detail {
            display: flex;
                align-items: center;
                justify-content: space-between;
            width: 100%;
        }

        &__image-container {
            margin: 0 20px 0 0;

            &__image {
                width: 70px;
            }
        }

        &__text-holder {
            &__text {
                font-size: 16px;
                font-weight: 600;
                margin: 0;
            }

            &__disc {
                color: $grey10;
                font-size: 16px;
                margin: 0;
            }
        }

        &__price {
            font-size: 16px;
            font-weight: 600;
            margin: 0;
        }
    }

    &__cart-totals {
        &__text {
            font-size: 16px;
            font-weight: $font600;
            margin-bottom: 0;
        }

        &__subtotal,
        &__shipping,
        &__grand-total {
            color: $secondary;
            font-size: 16px;
            font-weight: $font600;
            margin-bottom: 0;
        }

        &__grand-total {
            font-size: 18px;
            font-weight: $font700;
        }

        &__btn {
            color: $grey10;
            display: inline-block;
            font-weight: $font500;
            padding-right: 32px;
            position: relative;

            &.collapsed {

                &::after {
                    top: 6px;
                    transform: rotate(180deg);
                }
            }

            &::after {
                background-image: url(../images/uparrow.png);
                background-repeat: no-repeat;
                content: "";
                height: 20px;
                margin: 0;
                padding: 0;
                position: absolute;
                    right: 0;
                    top: 0;
                transform-origin: center;
                transform: none;
                width: 20px;
            }
        }

        .card {
            border-radius: 0;
        }
    }

    &__card {
        display: flex;
            align-items: center;
            justify-content: space-between;
        flex-direction: row;
        margin-bottom: 15px;
    }

    &__input {
        border-radius: 6px;
        border: 1px solid $grey3;
        padding: 15px;
        width: 100%;

        &:focus-visible {
            outline: none;
        }
    }

    &__btn {
        padding: 12px 14px;
        text-align: center;
        width: 160px;
    }

    &__comment-box {
        margin-bottom: 20px;

        &__text-holder {
            margin-bottom: 6px;
        }

        &__title {
            color: $secondary;
            display: inline-block;
            font-size: 16px;
            font-weight: $font500;
            margin-bottom: 6px;
            padding-right: 32px;
            position: relative;
            text-decoration: underline;

            &.collapsed {

                &::after {
                    top: 6px;
                    transform: rotate(180deg);
                }
            }

            &::after {
                background-image: url(../images/uparrow.png);
                background-repeat: no-repeat;
                content: "";
                height: 20px;
                margin: 0;
                padding: 0;
                position: absolute;
                    right: 0;
                    top: 0;
                transform-origin: center;
                transform: none;
                width: 20px;
            }
        }

        textarea {
            border: 2px solid $primary;
            border-radius: 2px;
        }
    }
}

.order-summary__cart-totals>.row:nth-child(-n+5) {
    border-bottom: 2px solid $grey16;
    line-height: 20px;
    padding: 5px 0;
    margin: 0;
    margin-bottom: 15px;
    align-items: center;
}

.order-summary__cart-totals>.row:nth-child(-n+5):last-child {
    border: none
}