.product-carousel {
    margin-bottom: 60px;

    &__intro {
        &__text {
            font-size: 32px;
            font-weight: $font700;
            margin-bottom: 25px;
        }
    }

    &__wrap {
        background-color: $white;
        border: 1px solid $border-color;
        margin-right: 10px;

        &__image-holder {
            display: flex;
                align-items: center;
                justify-content: center;
            height: 100%;
            margin-bottom: 0;
            max-height: 235px;
            padding: 30px;
        }

        &__image {
            max-height: 175px;
            max-width: 100%;
            width: auto;
        }

        &__text-holder {
            background-color: $grey1;
            height: 100%;
            padding: 35px 15px;
            text-align: center;
        }

        &__heading {
            font-size: 18px;
            font-weight: $font700;
        }

        &__heading-main {
            font-size: 16px;
            font-weight: $font500;
        }
    }

    .slick-dots {
        padding-top: 25px;
        position: unset;
    }
}
