.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;

    .slick-list {
        position: relative;
        overflow: hidden;
        display: flex;
        margin: 0;
        padding: 0;
    }

    .slick-track {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        flex: 1;
        margin-left: auto;
        margin-right: auto;
    }

    .slick-list,
    .slick-track {
        transform: translate3d(0, 0, 0);
    }

    .slick-slide {
        display: none;
        height: 100%;
        min-height: 1px;
    }

    &.slick-initialized {
        .slick-slide {
            display: block;
        }
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 1rem 0;
    position: absolute;
    bottom: 30px;
    left: 51px;
    z-index: 99;

    @media only screen and (max-width: 1440px) {
        bottom: 0;
    }

    &--wrapper {
        padding: 1rem 0;
        position: absolute;
        top: calc(100% - 95px);
        left: 0;
        width: 100%;

        @media only screen and (max-width: 1440px) {
            top: calc(100% - 80px);
        }

        @media only screen and (max-width: 1200px) {
            top: calc(100% - 60px);
        }

        .slick-dots {
            position: static;
            padding: 0;
            justify-content: flex-start;
        }
    }

    li {
        margin: 0 8px;

        &.slick-active {
            button {
                background-color: $primary;
            }
        }
    }

    button {
        display: block;
        width: 20px;
        height: 8px;
        padding: 0;
        border: none;
        background-color: $grey4;
        text-indent: -9999px;
    }
}

.thumbnail-slider {
    .slider {
        margin-bottom: 20px;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        display: block;

        img {
            width: 100%;
        }
    }

    .slider-nav {
        width: 100%;
        max-width: 43%;
        margin-left: auto;
        margin-right: auto;

        img {
            width: 100%;
        }
    }

    .slick-track {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .slick-dots {
        position: absolute;
        display: flex;
        bottom: -25px;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
    }

    .slick-slide {
        float: left;
        height: 100%;
        min-height: 1px;
    }

    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        display: block;
        width: 20px;
        height: 20px;
        padding: 0;
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
    }

    .slick-prev:before,
    .slick-next:before {
        font-family: 'slick';
        font-size: 20px;
        line-height: 1;
        font-weight: bold;
        opacity: .75;
        color: black;
    }

    .slick-prev {
        left: -25px;
    }

    .slick-prev:before {
        content: '\21D0';
        color: black;
        padding-left: -46px;
    }


    .slick-next {
        right: -25px;
    }

    .slick-next:before {
        content: '\21D2';
        color: black;
        padding-right: 43px;
    }
}
