// colors
$primary: #f9a13b;
$secondary: #1b1b1b;
$white: #fff;
$black: #000;
$btn-hover: #f7890a;
$border-color: #e3e3e3;
$search-bg-color: rgba(243, 243, 243, 0.1);
$banner-text-bg-color: #130b0385;

$grey1: #f7f7f7;
$grey2: #d1d1d1;
$grey3: #a4a4a4;
$grey4: #bfc4c9;
$grey5: #404040;
$grey6: #727272;
$grey7: #a9a9a9;
$grey8: #a3a3a3;
$grey9: #474747;
$grey10: #757575;
$grey11: #28272a;
$grey12: #878787;

//fonts
$font100: 100;
$font200: 200;
$font300: 300;
$font400: 400;
$font500: 500;
$font600: 600;
$font700: 700;
$font800: 800;
$font900: 900;
