@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

body {
  background-color: #f7f7f7;
  color: #1b1b1b;
}

a {
  color: #1b1b1b;
  text-decoration: none;
}
a:hover {
  color: #1b1b1b;
}

.btn-primary {
  background: #f9a13b;
  border: none;
  color: #1b1b1b;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 14px;
}
.btn-primary:hover {
  background: #f7890a;
  color: #1b1b1b;
  text-decoration: none;
}
.btn-primary:active {
  background: #f7890a;
  color: #1b1b1b;
  text-decoration: none;
}
.btn-primary:focus {
  box-shadow: none;
}

input[type=checkbox]:checked {
  background-color: #f9a13b;
  opacity: 1;
}

input[type=checkbox] {
  -webkit-appearance: none;
  background: none;
  border-radius: 2px;
  border: 2px solid #f9a13b;
  cursor: pointer;
  height: 20px;
  line-height: 0;
  margin: 0 0.6em 0 0;
  opacity: 0.5;
  outline: 0;
  padding: 0 !important;
  position: relative;
  vertical-align: text-bottom;
  width: 20px;
}
@media screen and (max-width: 1199.98px) {
  input[type=checkbox] {
    height: 16px;
    width: 16px;
  }
}
@media only screen and (max-width: 768px) {
  input[type=checkbox] {
    height: 18px;
    width: 18px;
  }
}

input[type=checkbox]:hover {
  opacity: 1;
}

input[type=checkbox]:before {
  content: "";
  border: solid #FFF;
  border-width: 0 2px 2px 0;
  height: 12px;
  margin: -1px -1px 0 -1px;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: rotate(45deg) translate(-50%, -50%);
  width: 6px;
  z-index: 2;
}

label {
  cursor: pointer;
}

.heading {
  margin-bottom: 20px;
}
.heading__text {
  font-size: 33px;
  font-weight: 700;
}
@media only screen and (max-width: 767.98px) {
  .heading__text {
    font-size: 26px;
    font-weight: 700;
  }
}

.back-btn {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.back-btn__image {
  height: 19px;
  margin-right: 10px;
  width: 15px;
}
.back-btn__link {
  font-weight: 700;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: pan-y;
}
.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-slider .slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
  transform: translate3d(0, 0, 0);
}
.slick-slider .slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slider.slick-initialized .slick-slide {
  display: block;
}

.slick-dots {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 1rem 0;
  position: absolute;
  bottom: 30px;
  left: 51px;
  z-index: 99;
}
@media only screen and (max-width: 1440px) {
  .slick-dots {
    bottom: 0;
  }
}
.slick-dots--wrapper {
  padding: 1rem 0;
  position: absolute;
  top: calc(100% - 95px);
  left: 0;
  width: 100%;
}
@media only screen and (max-width: 1440px) {
  .slick-dots--wrapper {
    top: calc(100% - 80px);
  }
}
@media only screen and (max-width: 1200px) {
  .slick-dots--wrapper {
    top: calc(100% - 60px);
  }
}
.slick-dots--wrapper .slick-dots {
  position: static;
  padding: 0;
  justify-content: flex-start;
}
.slick-dots li {
  margin: 0 8px;
}
.slick-dots li.slick-active button {
  background-color: #f9a13b;
}
.slick-dots button {
  display: block;
  width: 20px;
  height: 8px;
  padding: 0;
  border: none;
  background-color: #bfc4c9;
  text-indent: -9999px;
}

.slick-slider .slick-list {
  display: flex;
}
.slick-slider .slick-list .slick-track {
  display: flex;
  flex: 1;
}

.c-site-header {
  background-color: #f9a13b;
  position: sticky;
  top: 0;
  z-index: 100;
}
.c-site-header__top__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-top: 15px;
}
.c-site-header__top__left__btn {
  background: none;
  border: 2px solid #1b1b1b;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 12px;
  text-transform: uppercase;
  width: 100%;
}
.c-site-header__top__left__web-img {
  height: auto;
  margin-right: 8px;
  vertical-align: text-bottom;
  width: 15px;
}
.c-site-header__top__left__dropdown .dropdown-menu {
  background-color: #1b1b1b;
  min-width: 100%;
  padding: 0;
}
.c-site-header__top__left__dropdown .dropdown-menu .dropdown-item {
  background-color: #f7f7f7;
  border-bottom: 1px solid #1b1b1b;
  color: #1b1b1b;
  padding: 5px 12px;
  font-size: 14px;
  font-weight: 500;
}
.c-site-header__top__right {
  display: flex;
}
.c-site-header__top__items {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}
.c-site-header__top__items__list {
  margin-right: 20px;
}
.c-site-header__top__items__list-item {
  color: #000;
  font-weight: 500;
}
.c-site-header__top__search {
  margin-left: 20px;
}
.c-site-header__top__search__wrap {
  display: flex;
  align-items: center;
}
.c-site-header__top__search__wrap__search-field {
  border: 0;
  border-bottom: 2px solid #fff;
  background: transparent url(../images/search.svg) no-repeat left/18px;
  color: #fff;
  padding-left: 24px;
  outline: none;
}
.c-site-header__top__search__wrap__search-field::-moz-placeholder {
  color: #fff;
  font-size: 14px;
}
.c-site-header__top__search__wrap__search-field::placeholder {
  color: #fff;
  font-size: 14px;
}
@media only screen and (min-width: 992px) {
  .c-site-header__top__search__wrap__search-field {
    border-bottom: 2px solid #000;
    color: #000;
  }
  .c-site-header__top__search__wrap__search-field::-moz-placeholder {
    color: #000;
  }
  .c-site-header__top__search__wrap__search-field::placeholder {
    color: #000;
  }
}
.c-site-header__search--wrapper {
  display: block;
}
.c-site-header__search__icon {
  height: 30px;
  width: 30px;
}
.c-site-header__search__form {
  display: none;
  background: #fff;
  padding: 20px 8px;
  position: fixed;
  left: 0;
  top: 127px;
  width: 100%;
  z-index: 100;
}
.c-site-header__search__form__input {
  background: transparent url(../images/search.svg) no-repeat left/18px;
  border: 0;
  border-bottom: 2px solid #1b1b1b;
  color: #1b1b1b;
  outline: none;
  padding-left: 24px;
  width: 100%;
}
.c-site-header__search__form__input::-moz-placeholder {
  color: #1b1b1b;
  font-size: 14px;
}
.c-site-header__search__form__input::placeholder {
  color: #1b1b1b;
  font-size: 14px;
}
.c-site-header__logo {
  max-width: 150px;
}
@media only screen and (min-width: 992px) {
  .c-site-header__logo {
    max-width: 200px;
  }
}
.c-site-header__navbar {
  background-color: #fff;
}
@media only screen and (min-width: 992px) {
  .c-site-header__navbar {
    background-color: #1b1b1b;
  }
}
.c-site-header__navbar .navbar-toggler {
  padding: 8px 0;
}
.c-site-header__navbar .navbar-toggler:not(.collapsed) {
  border: 1px solid #fff;
}
.c-site-header__navbar .navbar-toggler span {
  background: #a9a9a9;
  display: block;
  height: 2px;
  width: 20px;
}
.c-site-header__navbar .navbar-toggler span:not(:last-child) {
  margin-bottom: 5px;
}
.c-site-header__navbar .nav-item {
  border-bottom: 1px solid #d1d1d1;
  margin: 0 -16px;
  padding: 0 24px;
}
@media only screen and (min-width: 992px) {
  .c-site-header__navbar .nav-item {
    border-bottom: none;
    margin: 0 16px;
    padding: 0;
  }
}
.c-site-header__navbar .nav-item:first-child {
  border-top: 1px solid #d1d1d1;
}
@media only screen and (min-width: 992px) {
  .c-site-header__navbar .nav-item:first-child {
    border-top: none;
  }
}
@media only screen and (min-width: 992px) {
  .c-site-header__navbar .nav-item.active .nav-link, .c-site-header__navbar .nav-item.show .nav-link {
    border-bottom: 1px solid #f9a13b;
  }
}
@media only screen and (min-width: 992px) {
  .c-site-header__navbar .nav-item.active .nav-link.dropdown-toggle::after, .c-site-header__navbar .nav-item.show .nav-link.dropdown-toggle::after {
    border-top-color: #f9a13b;
  }
}
.c-site-header__navbar .nav-item.show {
  border-bottom: none;
}
@media only screen and (max-width: 991.98px) {
  .c-site-header__navbar .nav-item.show .nav-link.dropdown-toggle::after {
    background-image: url(../images/minus-icon.png);
  }
}
@media only screen and (min-width: 992px) {
  .c-site-header__navbar .nav-item.show .nav-link.dropdown-toggle::after {
    transform: rotate(180deg);
  }
}
.c-site-header__navbar .nav-item .nav-link {
  color: #1b1b1b;
  font-weight: 700;
  padding: 16px 0;
}
@media only screen and (min-width: 992px) {
  .c-site-header__navbar .nav-item .nav-link {
    color: #fff;
    padding: 8px 0;
  }
}
.c-site-header__navbar .nav-item .nav-link.dropdown-toggle {
  position: relative;
}
.c-site-header__navbar .nav-item .nav-link.dropdown-toggle::after {
  border-top-color: #727272;
  transition: all 0.2s;
}
@media only screen and (max-width: 991.98px) {
  .c-site-header__navbar .nav-item .nav-link.dropdown-toggle::after {
    border: none;
    content: "";
    background: url(../images/plus-icon.png) no-repeat center/16px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0;
    height: 24px;
    width: 24px;
  }
}
.c-site-header__navbar .nav-item .dropdown-menu {
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin: 0 -24px;
  padding: 0;
}
.c-site-header__navbar .nav-item .dropdown-menu .dropdown-item {
  background-color: #f7f7f7;
  color: #1b1b1b;
  font-weight: 700;
  padding: 16px 36px;
}
.c-site-header__navbar .nav-item .dropdown-menu .dropdown-item:not(:last-child) {
  margin-bottom: 2px;
}
.c-site-header__navbar .nav-item .dropdown-menu .dropdown-item:hover, .c-site-header__navbar .nav-item .dropdown-menu .dropdown-item:focus {
  background-color: #fff;
}
.c-site-header__navbar .quick-links__heading {
  color: #727272;
  font-size: 16px;
  margin: 30px 0 10px;
  text-transform: uppercase;
  padding: 0 8px;
}
.c-site-header__navbar .quick-links .nav-item {
  border: none;
}
.c-site-header__navbar .quick-links .nav-item.btn-buy {
  margin-top: 16px;
  padding: 0;
}
.c-site-header__navbar .quick-links .nav-item.btn-buy a {
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 24px;
  position: relative;
  width: 100%;
}
.c-site-header__navbar .quick-links .nav-item.btn-buy a::after {
  background: url(../images/right-arrow.png) no-repeat right center;
  content: "";
  display: inline-block;
  height: 20px;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}
.c-site-header__navbar .quick-links .nav-item .nav-link {
  padding: 8px 0;
  font-size: 14px;
  font-weight: 500;
}

.c-site-footer {
  background-color: #1b1b1b;
}
.c-site-footer__container {
  padding-top: 80px;
  padding-bottom: 80px;
}
.c-site-footer__logo {
  margin-bottom: 40px;
}
.c-site-footer__logo img {
  max-width: 150px;
}
.c-site-footer__heading {
  color: #a4a4a4;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.c-site-footer__text {
  color: #a4a4a4;
  font-size: 12px;
}
.c-site-footer__list {
  margin-bottom: 40px;
}
.c-site-footer__list ul {
  padding-left: 0;
  list-style: none;
}
.c-site-footer__list ul li {
  margin-bottom: 10px;
}
.c-site-footer__list ul li a {
  color: #d1d1d1;
  font-size: 14px;
  font-weight: 500;
}
.c-site-footer__newsletter {
  display: flex;
  justify-content: space-between;
}
.c-site-footer__newsletter__btn {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-top: 5px;
}
.c-site-footer__newsletter__btn:hover {
  color: #fff;
}
.c-site-footer__newsletter ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.c-site-footer__newsletter ul li {
  display: inline-block;
}
.c-site-footer__newsletter ul li:not(:last-child) {
  margin-right: 16px;
}
.c-site-footer__newsletter ul li img {
  height: 24px;
  width: 24px;
}
.c-site-footer__bottom__list {
  border-top: 1px solid #404040;
  padding-top: 30px;
  padding-bottom: 30px;
}
.c-site-footer__bottom__list ul {
  display: inline-block;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.c-site-footer__bottom__list ul li {
  display: inline-block;
  margin-right: 14px;
}
.c-site-footer__bottom__list ul li a {
  color: #d1d1d1;
  font-size: 14px;
}
.c-site-footer__bottom__text {
  color: #727272;
  font-size: 12px;
  margin-bottom: 0;
}

.main-banner {
  margin-bottom: 50px;
  padding: 0;
}
.main-banner__wrap {
  position: relative;
}
.main-banner__wrap__image {
  min-height: 200px;
  width: 100%;
}
.main-banner__wrap__heading {
  color: #f9a13b;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 4px;
}
@media only screen and (max-width: 992px) {
  .main-banner__wrap__heading {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 768px) {
  .main-banner__wrap__heading {
    font-size: 10px;
  }
}
.main-banner__wrap__heading-main {
  color: #fff;
  font-size: 36px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 992px) {
  .main-banner__wrap__heading-main {
    font-size: 28px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .main-banner__wrap__heading-main {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
.main-banner__wrap__text-holder {
  padding: 0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .main-banner__wrap__text-holder {
    left: 32px;
  }
}
@media only screen and (max-width: 576px) {
  .main-banner__wrap__text-holder {
    left: 16px;
  }
}
.main-banner__wrap__btn {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 25px;
}
@media only screen and (max-width: 768px) {
  .main-banner__wrap__btn {
    font-size: 10px;
  }
}

.categories {
  text-align: center;
}
.categories__intro {
  margin-bottom: 40px;
}
.categories__intro__heading {
  font-size: 36px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .categories__intro__heading {
    font-size: 28px;
  }
}
.categories__wrap__f-line {
  justify-content: center;
  margin-bottom: 40px;
  row-gap: 40px;
}
.categories__item {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .categories__item {
    margin-right: 20px;
    width: calc(50% - 20px);
  }
}
@media only screen and (min-width: 992px) {
  .categories__item {
    width: calc(25% - 20px);
  }
}
.categories__item__wrap {
  display: block;
}
.categories__item__wrap:hover {
  text-decoration: none;
}
.categories__item__image {
  display: block;
  height: auto;
  width: 100%;
}
.categories__item__heading {
  background-color: #f9a13b;
  font-weight: 700;
  padding: 13px;
  text-align: left;
}

.slider {
  margin-bottom: 50px;
  padding-bottom: 30px;
}
.slider-wrap {
  background-color: #fff;
}
.slider__intro__text {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
  padding-top: 25px;
}
.slider__wrap {
  border: 1px solid #e3e3e3;
  Display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}
.slider__wrap__image-holder {
  height: 0;
  overflow: hidden;
  padding-bottom: 67%;
  position: relative;
  width: 100%;
}
.slider__wrap__image {
  height: auto;
  -o-object-fit: fill;
     object-fit: fill;
  padding: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}
.slider__wrap__text-holder {
  background-color: #f7f7f7;
  padding: 20px 30px;
  text-align: center;
}
.slider__wrap__heading {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.slider__wrap__heading-main {
  font-size: 16px;
  font-weight: 500;
}
.slider__wrap__btn {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 25px;
}
.slider__wrap__badge {
  background-color: #f9a13b;
  position: absolute;
  left: 20px;
  top: 88%;
}
.slider .slick-dots {
  padding-top: 25px;
  position: unset;
}

.carousel {
  margin-bottom: 60px;
}
.carousel__intro__text {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
}
.carousel__wrap {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  margin-right: 10px;
}
.carousel__wrap__image {
  width: 100%;
}
.carousel__wrap__text-holder {
  padding: 35px 15px;
  text-align: center;
}
.carousel__wrap__heading {
  font-size: 18px;
  font-weight: 700;
}
.carousel__wrap__heading-main {
  font-size: 16px;
  font-weight: 500;
}
.carousel .slick-dots {
  padding-top: 25px;
  position: unset;
}

.filter {
  margin-top: 20px;
}
.filter__title {
  font-size: 36px;
  font-weight: 700;
}

.panel-title > button:before {
  background-image: url(../images/minus-solid.svg);
  background-repeat: no-repeat;
  content: "";
  float: right !important;
  height: 20px;
  padding-right: 20px;
  width: 20px;
}

.panel-title > button.collapsed:before {
  background-image: url(../images/plus-solid.svg);
  background-repeat: no-repeat;
  content: "";
  float: right !important;
  background-position-x: right;
  margin-top: 5px;
  height: 20px;
  width: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1 !important;
  margin-bottom: 30px;
}
.card__card-header {
  background-color: #fff;
}
.card__card-header__btn {
  color: black;
  font-size: 20px;
  font-weight: 700;
  padding: 0;
}
.card__card-header__btn:hover {
  color: black;
  text-decoration: none;
}
.card__card-header__btn:focus {
  box-shadow: none;
}
.card__card-header__sellect-btn {
  font-size: 14px;
  margin-right: 11px;
}
.card__card-header__clear-btn {
  font-size: 14px;
}
.card .card-body__list {
  list-style: none;
  padding-left: 0;
}
.card .card-body__list__list-item {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 0;
}
.card .card-body__list__list-item__image {
  margin-left: 20px;
  width: 15px;
}
.card .card-body__list__list-item label {
  padding-left: 0;
}
.card .card-body__list__input {
  background: #f7f7f7 url(../images/search-grey.png) no-repeat right/18px;
  background-position-x: 250px;
  border: 0;
  padding: 7px 20px 7px 20px;
  width: 100%;
}
.card .card-body__list__input::-moz-placeholder {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
.card .card-body__list__input::placeholder {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
.card .card-body__list__input:focus-visible {
  outline: none;
}
.card .card-body .nav__list {
  list-style: none;
  padding-left: 0;
}
.card .card-body .nav a,
.card .card-body .nav label {
  display: block;
  color: #000;
}
.card .card-body .group-list {
  height: 100%;
  list-style: none;
  max-height: 0;
  overflow: hidden;
}
.card .card-body .nav__list input[type=checkbox]:checked + label + ul {
  max-height: 1000px;
}
.card .card-body .nav__list input[type=checkbox]:checked + label > img {
  transform: rotate(180deg);
}

.plp {
  background-color: #fff;
}

.breadcrumb-wrap {
  background-color: #f7f7f7;
}
.breadcrumb-wrap__breadcrumb {
  background-color: #f7f7f7;
  padding: 0 0 0 15px;
}

.c-products {
  text-align: -webkit-center;
}
@media only screen and (max-width: 767.98px) {
  .c-products__list {
    display: block;
  }
}

.products-head {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
}
.products-head__right {
  display: flex;
  align-items: baseline;
}
.products-head__right__form {
  margin-right: 20px;
}
.products-head__right__form__search-field {
  background: transparent url(../images/search-grey.png) no-repeat left/18px;
  background-position: 12px 11px;
  border: 2px solid #d1d1d1;
  color: #000;
  outline: none;
  padding: 7px 35px;
}
.products-head__right__form__search-field::-moz-placeholder {
  color: #727272;
  font-size: 14px;
  font-weight: 600;
}
.products-head__right__form__search-field::placeholder {
  color: #727272;
  font-size: 14px;
  font-weight: 600;
}
.products-head__right__btns {
  border: 0;
}
.products-head__right__list-btn, .products-head__right__grid-btn {
  background: transparent;
  border-radius: 6px;
  border: 0;
  padding: 8px;
}
.products-head__right__list-btn.selected, .products-head__right__grid-btn.selected {
  background: #f9a13b;
}
.products-head__right__list-img {
  cursor: pointer;
  margin: 10px;
  width: 13px;
  filter: opacity(0.5);
}
.products-head__right__list-img:focus {
  filter: opacity(1.5);
}
@media only screen and (max-width: 991.98px) {
  .products-head__right__icons {
    display: none;
  }
}
.products-head__left__text {
  font-size: 36px;
  font-weight: 700;
}
@media only screen and (max-width: 991.98px) {
  .products-head__left__text {
    font-size: 26px;
  }
}
.products-head__header {
  display: flex;
  margin-left: 163px;
}
@media only screen and (max-width: 991.98px) {
  .products-head__header {
    display: none;
  }
}
.products-head__text {
  color: #474747;
  font-size: 16px;
}
.products-head__desc {
  margin-left: 145px;
}

.view-radio {
  display: none;
}

.view-radio:checked + label {
  background-color: #f9a13b;
  border-radius: 4px;
  cursor: pointer;
}
.view-radio:checked + label img {
  filter: opacity(1.5);
}

label input[type=checkbox]:checked + span {
  text-decoration: underline;
}

.grid-view .products-head__header {
  display: none;
}
.grid-view__head {
  display: flex;
  margin-bottom: 20px;
}
.grid-view__head__item {
  background-color: #f7f7f7;
  margin-right: 15px;
  padding: 4px;
}
.grid-view__head__item__image-container {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.grid-view__head__item__image {
  width: 45px;
}
.grid-view__head__item__text {
  font-size: 12px;
  margin-right: 10px;
}
.grid-view__head__item__cross {
  width: 17px;
}
.grid-view__head__btn {
  font-size: 11px;
  font-weight: 700;
  margin-right: 15px;
}
.grid-view__head__clear {
  font-size: 12px;
  font-weight: 700;
}
@media only screen and (max-width: 991.98px) {
  .grid-view__head {
    display: none;
  }
}

.block-item {
  border: 1px solid #d1d1d1;
  flex-direction: column;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 40rem) {
  .block-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    transition: none;
  }
}
.block-item__image-container {
  margin: 0;
  max-width: 100%;
}
.block-item__image-container__image {
  width: 100%;
}
.block-item__image-container__badge {
  background-color: #f9a13b;
  position: absolute;
  left: 0;
  top: 0;
}
@media only screen and (max-width: 1199px) {
  .block-item__image-container__badge {
    font-size: 14px;
  }
}
.block-item__tile-body {
  padding: 15px;
}
.block-item__tile-body__text-holder {
  background-color: #f7f7f7;
  flex: 1;
  max-width: 100%;
  padding-top: 15px;
  text-align: center;
  width: 100%;
}
@media only screen and (max-width: 1199px) {
  .block-item__tile-body__text-holder {
    padding-bottom: 15px;
  }
}
.block-item__tile-body__text {
  font-size: 16px;
  font-weight: 700;
  max-width: 100%;
}
@media screen and (max-width: 40rem) {
  .block-item__tile-body__text {
    font-size: 12px;
    max-width: 100%;
  }
}
.block-item__tile-body__para {
  color: #a9a9a9;
  font-size: 14px;
  margin-bottom: 0;
}
@media screen and (max-width: 40rem) {
  .block-item__tile-body__para {
    font-size: 10px;
  }
}
.block-item__tile-body__text-bottom {
  background-color: #f7f7f7;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex: 1;
  max-width: 100%;
  padding: 0 20px 15px 20px;
}
@media screen and (max-width: 991.98px) {
  .block-item__tile-body__text-bottom {
    justify-content: center;
    align-items: center;
    padding: 0 15px 15px 15px;
  }
}
.block-item__tile-body__text-bottom label {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1199.98px) {
  .block-item__tile-body__text-bottom label {
    font-size: 10px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 991.98px) {
  .block-item__tile-body__text-bottom label {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
    margin-right: 20px;
  }
}
.block-item__tile-body__checkmark {
  font-size: 14px;
  font-weight: 700;
}
@media screen and (max-width: 1199.98px) {
  .block-item__tile-body__checkmark {
    font-size: 10px;
  }
}
.block-item__tile-body__btn {
  font-size: 14px;
}
@media screen and (max-width: 1199.98px) {
  .block-item__tile-body__btn {
    font-size: 10px;
    font-weight: 500;
    padding: 4px 10px;
  }
}
@media screen and (max-width: 767.98px) {
  .block-item__tile-body input[type=checkbox] {
    height: 15px;
    width: 15px;
  }
}
@media screen and (max-width: 767.98px) {
  .block-item__tile-body__checkmark {
    font-size: 10px;
  }
}

.content {
  justify-content: center;
}
.content__wrap {
  margin-bottom: 20px;
  max-width: 33.333333%;
}
@media screen and (max-width: 1440px) {
  .content__wrap {
    font-size: 10px;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
@media screen and (max-width: 991.98px) {
  .content__wrap {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 767.98px) {
  .content__wrap {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.list-view {
  display: block;
}
@media only screen and (max-width: 991.98px) {
  .list-view {
    display: flex;
  }
}
.list-view .content__wrap {
  max-width: 100%;
  margin-bottom: 0;
}
@media screen and (max-width: 991.98px) {
  .list-view .content__wrap {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .list-view .content__wrap {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.list-view .content__wrap:last-child .block-item {
  margin-bottom: 20px;
}
.list-view .block-item {
  border: 0;
  border-top: 2px solid #d1d1d1;
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 100%;
}
@media only screen and (max-width: 767.98px) {
  .list-view .block-item {
    flex-direction: column;
  }
}
.list-view .block-item__image-container {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
.list-view .block-item__image-container__image {
  height: auto;
  width: 95px;
}
@media only screen and (max-width: 767.98px) {
  .list-view .block-item__image-container__image {
    width: 85px;
  }
}
.list-view .block-item__tile-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  padding-left: 15px;
  width: 100%;
}
@media only screen and (max-width: 767.98px) {
  .list-view .block-item__tile-body {
    padding-left: 5px;
  }
}
.list-view .block-item__tile-body__text-holder {
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-top: 0;
}
.list-view .block-item__tile-body__text {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  text-align: left;
  width: 62%;
}
@media only screen and (max-width: 1199.98px) {
  .list-view .block-item__tile-body__text {
    font-size: 12px;
    margin-right: 10px;
    width: 42%;
  }
}
@media only screen and (max-width: 767.98px) {
  .list-view .block-item__tile-body__text {
    font-size: 10px;
    width: 43%;
  }
}
.list-view .block-item__tile-body__para {
  color: #000;
  font-weight: 500;
  margin: 0;
  text-align: left;
  width: 100%;
}
@media only screen and (max-width: 1199.98px) {
  .list-view .block-item__tile-body__para {
    font-size: 12px;
  }
}
@media only screen and (max-width: 767.98px) {
  .list-view .block-item__tile-body__para {
    font-size: 10px;
  }
}
.list-view .block-item__tile-body__text-bottom {
  background-color: transparent;
  display: flex;
  justify-content: end;
  padding-right: 0;
  padding-bottom: 10px;
  max-width: 30%;
}
@media only screen and (max-width: 1199.98px) {
  .list-view .block-item__tile-body__text-bottom {
    padding-left: 10px;
  }
}
@media only screen and (max-width: 767.98px) {
  .list-view .block-item__tile-body__text-bottom {
    font-size: 10px;
  }
}
.list-view .block-item__tile-body__btn {
  border-radius: 4px;
  font-size: 14px;
  margin-left: 15px;
  font-weight: 700;
}
@media only screen and (max-width: 1199.98px) {
  .list-view .block-item__tile-body__btn {
    font-size: 12px;
    margin-top: 0;
  }
}
@media only screen and (max-width: 767.98px) {
  .list-view .block-item__tile-body__btn {
    font-size: 10px;
    padding: 2px 9px;
  }
}
.list-view .block-item__tile-body__checkmark {
  font-size: 14px;
  font-weight: 700;
}
@media only screen and (max-width: 1199.98px) {
  .list-view .block-item__tile-body__checkmark {
    font-size: 12px;
  }
}
.list-view .block-item .badge {
  left: 265%;
  top: 40%;
}
@media only screen and (max-width: 1199.98px) {
  .list-view .block-item .badge {
    left: 0;
    top: 0;
  }
}
@media screen and (max-width: 991.98px) {
  .list-view .block-item {
    border: 1px solid #d1d1d1;
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 991.98px) and (min-width: 40rem) {
  .list-view .block-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
  }
}
@media screen and (max-width: 991.98px) {
  .list-view .block-item__image-container {
    margin: 0;
    max-width: 100%;
  }
  .list-view .block-item__image-container__image {
    width: 100%;
  }
  .list-view .block-item__image-container__badge {
    display: block;
    background-color: #f9a13b;
    position: absolute;
    left: 0;
    top: 0;
  }
}
@media only screen and (max-width: 991.98px) and (max-width: 1199.98px) {
  .list-view .block-item__image-container__badge {
    display: block;
    font-size: 14px;
    top: 85%;
  }
}
@media screen and (max-width: 991.98px) {
  .list-view .block-item__tile-body {
    padding: 15px;
  }
  .list-view .block-item__tile-body__text-holder {
    background-color: #f7f7f7;
    flex: 1;
    max-width: 100%;
    padding-top: 15px;
    text-align: center;
    width: 100%;
  }
}
@media only screen and (max-width: 991.98px) and (max-width: 1199.98px) {
  .list-view .block-item__tile-body__text-holder {
    padding-bottom: 15px;
    display: block;
  }
}
@media screen and (max-width: 991.98px) {
  .list-view .block-item__tile-body__text {
    font-size: 16px;
    font-weight: 700;
    max-width: 100%;
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 991.98px) {
  .list-view .block-item__tile-body__para {
    color: #a9a9a9;
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
  }
}
@media screen and (max-width: 991.98px) and (max-width: 40rem) {
  .list-view .block-item__tile-body__para {
    font-size: 10px;
  }
}
@media screen and (max-width: 991.98px) {
  .list-view .block-item__tile-body__text-bottom {
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px 15px 15px;
    max-width: 100%;
  }
}
@media only screen and (max-width: 991.98px) and (max-width: 1199.98px) {
  .list-view .block-item__tile-body__text-bottom label {
    margin-right: 0;
  }
}
@media only screen and (max-width: 991.98px) and (max-width: 1199.98px) {
  .list-view .block-item__tile-body__btn {
    font-size: 10px;
  }
}
@media screen and (max-width: 991.98px) and (max-width: 40rem) {
  .list-view .block-item__tile-body__btn {
    font-size: 10px;
    font-weight: 500;
    padding: 4px 10px;
  }
}
@media screen and (max-width: 991.98px) and (max-width: 40rem) {
  .list-view .block-item__tile-body input[type=checkbox] {
    height: 15px;
    width: 15px;
  }
}
@media screen and (max-width: 991.98px) and (max-width: 40rem) {
  .list-view .block-item__tile-body__checkmark {
    font-size: 10px;
    vertical-align: text-bottom;
  }
}

.bottom {
  justify-content: space-between;
  margin-bottom: 80px;
  padding: 0;
  width: 100%;
}
.bottom__left {
  display: flex;
  align-items: baseline;
}
.bottom__dropdown__btn {
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 14px;
  font-weight: 700;
}
.bottom__dropdown__btn:hover, .bottom__dropdown__btn:focus {
  background-color: transparent;
  border: none;
  color: #000;
}
.bottom__para {
  color: #a3a3a3;
  font-size: 14px;
}
.bottom__right__num {
  display: flex;
  list-style: none;
  padding: 0;
}
.bottom__right__list {
  font-weight: 700;
  margin-right: 20px;
}
.bottom__right__link {
  font-size: 14px;
  font-weight: 700;
}

.compare-view-page {
  background-color: #fff;
  padding-top: 20px;
}

.compare {
  padding-bottom: 60px;
}
@media only screen and (max-width: 991.98px) {
  .compare .compare-mb {
    margin-bottom: 30px;
  }
}

.compare-view {
  border: 1px solid #a4a4a4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}
.compare-view__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.compare-view__main__img-holder {
  display: flex;
  align-items: center;
  margin: 0;
}
.compare-view__main__image {
  margin-right: 15px;
  width: 90px;
  min-width: 90px;
}
@media only screen and (max-width: 767.98px) {
  .compare-view__main__image {
    margin-right: 10px;
    width: 70px;
  }
}
@media only screen and (max-width: 576.98px) {
  .compare-view__main__image {
    width: 60px;
  }
}
.compare-view__main__text {
  font-size: 22px;
  font-weight: 700;
}
@media only screen and (max-width: 1199.98px) {
  .compare-view__main__text {
    font-size: 14px;
    font-weight: 700;
  }
}
@media only screen and (max-width: 576.98px) {
  .compare-view__main__text {
    font-size: 10px;
  }
}
.compare-view__main__btn {
  font-size: 14px;
  font-weight: 700;
  width: 125px;
}
.compare-view__para__text {
  font-size: 14px;
}
.compare-view__features__heading {
  font-size: 18px;
  font-weight: 700;
}
@media only screen and (max-width: 767.98px) {
  .compare-view__features__heading {
    font-size: 16px;
  }
}
.compare-view__features__list {
  list-style: none;
  padding-left: 0;
}
.compare-view__features__list-item {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
  margin-left: 26px;
  text-indent: -30px;
}
@media only screen and (max-width: 1199.98px) {
  .compare-view__features__list-item {
    font-size: 14px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 576.98px) {
  .compare-view__features__list-item {
    font-size: 12px;
  }
}
.compare-view__features__image {
  margin-right: 6px;
}
.compare-view__list-wrapper {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1199.98px) {
  .compare-view__list-wrapper {
    display: inline-grid;
    grid-template-columns: 203px 10fr;
  }
}
@media only screen and (max-width: 991.98px) {
  .compare-view__list-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 576.98px) {
  .compare-view__list-wrapper {
    display: inline-grid;
    grid-template-columns: 203px 10fr;
  }
}
.compare-view__list {
  margin-right: 10px;
}
@media only screen and (max-width: 1199.98px) {
  .compare-view__list {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 991.98px) {
  .compare-view__list {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 576.98px) {
  .compare-view__list {
    margin-bottom: 15px;
  }
}
.compare-view__list:last-child {
  margin-bottom: 0;
}
.compare-view__list__heading {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}
@media only screen and (max-width: 767.98px) {
  .compare-view__list__heading {
    font-size: 16px;
    font-weight: 600;
  }
}
.compare-view__list__wrap {
  list-style: none;
  padding-left: 0;
}
.compare-view__list__list-item {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 7px;
  margin-left: 27px;
  text-indent: -30px;
}
@media only screen and (max-width: 767.98px) {
  .compare-view__list__list-item {
    font-size: 12px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 576.98px) {
  .compare-view__list__list-item {
    margin-left: 19px;
    text-indent: -21px;
  }
}
.compare-view__list__image {
  margin-right: 5px;
}
@media only screen and (max-width: 767.98px) {
  .compare-view__list__image {
    margin-right: 2px;
    width: 18px;
  }
}/*# sourceMappingURL=style.css.map */